@{
    ViewData["Title"] = "О нас";
}


        <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">Магазин</span>
                            <span class="d-block text-dark">Электроники</span>
                        </h1>
                    </div>
                </div>
            </div>

            <img src="~/img/header/businesspeople-meeting-office-working.jpg" class="header-image img-fluid" alt="">
        </header>

        <section class="team section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-5">Познакомьтесь с нашей <span>командой</span></h2>
                    </div>

                    <div class="col-lg-4 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                    <img src="~/img/people/gigachad.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Александр</h5>
                                <strong class="text-muted">Владелец</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#don">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                    <img src="~/img/people/Creator.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Артем</h5>
                                <strong class="text-muted">Консультант</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#kelly">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                        <div class="team-thumb d-flex align-items-center">
                    <img src="~/img/people/beautiful-woman-face-portrait-brown-background.jpeg" class="img-fluid custom-circle-image team-image me-4" alt="">

                            <div class="team-info">
                                <h5 class="mb-0">Роман</h5>
                                <strong class="text-muted">Менеджер</strong>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#marie">
                                    <i class="bi-plus-circle-fill"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="testimonial section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9 mx-auto col-11">
                        <h2 class="text-center">Клиентская любовь, <br> <span>Комп</span> Шоп</h2>

                        <div class="slick-testimonial">
                            <div class="slick-testimonial-caption">
                                <p class="lead">Мы ценим своих клиентов.</p>

                                <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/img/people/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                    <span>Анатолий, <strong class="text-muted"></strong></span>
                                </div>
                            </div>

                            <div class="slick-testimonial-caption">
                                <p class="lead">О такой технике можно лишь мечтать</p>

                                <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/img/people/great-politic.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                    <span>Владимир, <strong class="text-muted"></strong></span>
                                </div>
                            </div>

                            <div class="slick-testimonial-caption">
                                <p class="lead">Только у нас вы приобретаете не технику, а воспоминания.</p>

                                <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/img/people/portrait-british-woman.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                    <span>Полина, <strong class="text-muted"></strong></span>
                                </div>
                            </div>

                            <div class="slick-testimonial-caption">
                                <p class="lead">У нас часто бывают скидки, не упустите.</p>

                                <div class="slick-testimonial-client d-flex align-items-center mt-4">
                            <img src="~/img/people/woman-wearing-mask-face-closeup-covid-19-green-background.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                    <span>Аркадия, <strong class="text-muted"></strong></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
<!-- TEAM MEMBER MODAL -->
<div class="modal fade" id="don" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <h3 class="modal-title" id="exampleModalLabel">Александр Петров</h3>

                <h6 class="text-muted">Владелец</h6>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h5 class="mb-4">
                    Еженедельные дозы препарата Лариам® следует принимать всегда в один и тот же день недели.h5>

                <div class="row mb-4">
                    <div class="col-lg-6 col-12">
                            <p>Чтобы уменьшить риск заболевания малярией после выезда из эндемичного региона, профилактику продолжают еще в течение 4 нед.</p>
                    </div>

                    <div class="col-lg-6 col-12">
                            <p>
                                В сухом месте, при температуре не выше 30 °C. (в закрытой упаковке)
                                Хранить в недоступном для детей месте.
                            </p>
                    </div>
                </div>

                <ul class="social-icon">
                    <li class="me-3"><strong>Со мной можно связаться:</strong></li>

                    <li><a href="https://vk.com/id432056670" class="social-icon-link bi-youtube"></a></li>

                    <li><a href="https://vk.com/id432056670" class="social-icon-link bi-whatsapp"></a></li>

                    <li><a href="https://vk.com/id432056670" class="social-icon-link bi-instagram"></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- TEAM MEMBER MODAL -->
<div class="modal fade" id="kelly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <h3 class="modal-title" id="exampleModalLabel">Владислав Андреев</h3>

                <h6 class="text-muted">Консультант</h6>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h5 class="mb-4">Внешность, как это нередко случается, бывает весьма обманчивой. Взглянув на бегемотов, неподвижно лежащих в воде, можно подумать, что эти неуклюжие, ленивые и неповоротливые толстяки способны только есть и спать.</h5>

                <div class="row mb-4">
                    <div class="col-lg-6 col-12">
                        <p>Бегемотов считают одними из наиболее опасных животных Африки, и вовсе не случайно. Нередко от их набегов серьезно страдают посевы</p>
                    </div>

                    <div class="col-lg-6 col-12">
                        <p>Весь день гиппопотамы проводят на мелководье. Обычно над поверхностью воды видны уши, глаза и ноздри. Дремлющий бегемот лежит практически без движения и очень тихо дышит.</p>
                    </div>
                </div>

                <ul class="social-icon">
                    <li class="me-3"><strong>По деловым вопросам обращаться:</strong></li>

                    <li><a href="https://i.ytimg.com/vi/7_cszR6EQUE/maxresdefault.jpg" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="https://i.ytimg.com/vi/7_cszR6EQUE/maxresdefault.jpg" class="social-icon-link bi-instagram"></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- TEAM MEMBER MODAL -->
<div class="modal fade" id="marie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header flex-column">
                <h3 class="modal-title" id="exampleModalLabel">Артем Кицук</h3>

                <h6 class="text-muted">Менеджер</h6>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h5 class="mb-4">Если команда игрока набрала до шести фолов за половину, то при фоле команда противника получает владение мячом.</h5>

                <div class="row mb-4">
                    <div class="col-lg-6 col-12">
                        <p>Овертайм не считается дополнением какой-либо четверти. В овертайме команда наказывается двумя штрафными.</p>
                    </div>

                    <div class="col-lg-6 col-12">
                        <p>За попадание изнутри трёхочковой линии засчитывается одно очко, и из-за трёхочковой - два.</p>
                    </div>
                </div>

                <ul class="social-icon">
                    <li class="me-3"><strong>По вопросам трудоустройства:</strong></li>

                    <li><a href="https://vk.com/id432056670" class="social-icon-link bi-twitter"></a></li>

                    <li><a href="https://vk.com/id432056670" class="social-icon-link bi-linkedin"></a></li>

                    <li><a href="https://vk.com/id432056670" class="social-icon-link bi-envelope"></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

  
