@{
    ViewData["Title"] = "FAQ";
}

<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary">Ваши популярные вопросы</span>
                    <span class="d-block text-dark">Наши ответы на них</span>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="faq section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12">
                <h2>Информация</h2>

                <div class="accordion" id="accordionGeneral">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralOne" aria-expanded="true" aria-controls="accordionGeneralOne">
                                Как оплатить покупку иностранной картой?
                            </button>
                        </h2>

                        <div id="accordionGeneralOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">

                            <div class="accordion-body">
                                <p class="large-paragraph"><strong>КомпШоп</strong> Извините, в нынешней ситуации мы принимаем только российские карты.</p>

                                <p class="large-paragraph">Одной из наиболее неожиданных тем, привлекших всеобщее внимание, стала новость о создании сверхпроводника комнатных температур, который мог бы проложить путь для квантовых вычислений и высокоскоростных поездов.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralTwo" aria-expanded="false" aria-controls="accordionGeneralTwo">
                                Каким способом и откуда можно забрать товар?
                            </button>
                        </h2>

                        <div id="accordionGeneralTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGeneral">

                            <div class="accordion-body">
                                <p class="large-paragraph"><a href="https://www.tooplate.com/free-templates" target="_blank">Tooplate</a>Обнаружение этой неделимой частицы привело к лучшему пониманию Вселенной, а на протяжении последних десяти лет физики изучали бозона Хиггса, пытаясь установить различные способы его образования и распада.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralThree" aria-expanded="false" aria-controls="accordionGeneralThree">
                                Как мне поддержать ваш проект рублем?
                            </button>
                        </h2>

                        <div id="accordionGeneralThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionGeneral">

                            <div class="accordion-body">
                                <p class="large-paragraph">Прежде всего делитесь информацией о нашем сайте, но если хотите поддержать рублем, то можно на номер 89524250344 или по номеру карты 2202 2062 8009 5451.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <h2 class="mt-5">О <span>нашем сайте</span></h2>

                <div class="accordion" id="accordionProduct">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionProductOne" aria-expanded="true" aria-controls="accordionProductOne">
                                Как можно добавить в корзину несколько одинаковых предметов?
                            </button>
                        </h2>

                        <div id="accordionProductOne" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionProduct">

                            <div class="accordion-body">
                                <p class="large-paragraph">Мы сильно извиняемся, но возможности нашего сайта ограничены из-за скромных бюджетов на разработку, в будущем такая функция появится.</p>

                                <p class="large-paragraph">Извините.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionProductTwo" aria-expanded="false" aria-controls="accordionProductTwo">
                                Можно ли оплатить через СПБ?
                            </button>
                        </h2>

                        <div id="accordionProductTwo" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionProduct">

                            <div class="accordion-body">
                                <p class="large-paragraph">да, конечно, мы находимся в сотрудничестве со многими банками.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
